# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Client
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/build

# misc
.DS_Store
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
.idea/
node_modules/
package-lock.json

client/yarn.lock
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# server
server/authentication-service/.idea/
server/common-data-service/.idea/
server/seller-account-service/.idea/
