.container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    grid-gap: 3em;
    grid-auto-rows: minmax(35vh, auto);
    align-content: space-around;
    padding: 5em 2em 2em 2em;
}

.item_1 {
    background: grey;
    border: 1px solid black;
    padding: 1em;
    grid-column: 1/3;
    grid-row: 1/3;
}

.item_2 {
    background: grey;
    border: 1px solid black;
    grid-column: 0.3;
    display: grid;
}

.item_2 > div {
    font-size: 2rem;
}

.detail-button {
    display: grid;
    grid-gap: 0.7em;
    grid-template-columns: 1fr 1fr;
}

.item_3 {
    background: grey;
    border: 1px solid black;
    grid-column: 0.7;
}