html, body {
    max-width: 100%;
    height: 100% !important;
    padding: 0;
    margin: 0;
}

body ::-webkit-scrollbar {
    width:0 !important;
    height: 0 !important;
}

#customDropdown {
    font-weight: bold;
}

input {
    font-size: 1.2rem !important;
}

.ui.button.googleButtonStyle {
    width: 100%;
    height: 40px;
}